body {
    font-family: 'Times New Roman', Times, serif, sans-serif;
}

a {
    color: green; /* default color */
    text-decoration: none;
}

a:hover {
    color: purple; /* color on hover */
}

.image-container {
    position: relative;
    width: 20%; /* adjust according to your preference */
}

.image-container img {
    width: 100%;
    height: auto;
}

.text-on-image {
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    background-color: rgba(0, 0, 0, 0.5); /* semi-transparent black */
    padding: 10px;
}
